{% extends 'addr/base.html' %}

{% block content %}
<div class="post">
    {% if addr.published_date %}
    <div class="date">
        등록일 {{ addr.published_date }}
    </div>
    {% else %}
    <a class="btn btn-default" href="{% url 'addr_publish' pk=addr.pk %}">Publish</a>
    {% endif %}
    <a class="btn btn-default" href="{% url 'addr_edit' pk=addr.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'addr_remove' pk=addr.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    <h1>이름 : {{ addr.name }}</h1>
    <p>연락처_1 : {{ addr.call_1|linebreaksbr }}</p>
    <p>연락처_2 : {{ addr.call_2|linebreaksbr }}</p>
    <p>이메일 : {{ addr.e_mail }}</p>
</div>
{% endblock %}